$primary: indigo;
$bg: wheat;
$text: violet;
@import "bootstrap/scss/bootstrap";

body {
  background-color: $bg;

  h3 {
    color: $primary;
  }

  .image {
    width: 100%;
    margin: 20px auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: white;
  }
}
